@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.wrapper-eclipse {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  // opacity: 0;
  transition: opacity 0.5s ease;
}

// https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/
.sketch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  height: 660px;
  // background-color: rgba(255, 0, 0, 0.445);
  pointer-events: none;
  background: 
    repeating-radial-gradient(#000 0 0.0001%,#fff 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%,#fff 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .5s infinite alternate;
  opacity: 0.1;
}
@keyframes b{
  100% {background-position: 50% 0, 60% 50%}
}

.toggle-btn, .exit-songs-btn {
	position: absolute;
	border: none;
	padding: 0.5rem 1rem;
	text-transform: uppercase; 
	background: #000;
	color: #adb3c2;
	font-size: 1.6rem;
	font-weight: bold;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: opacity 0.3s ease;
}

.exit-songs-btn {
	top: 35px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: none;
}

.toggle-btn {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.exit-songs-btn.hide, .toggle-btn.hide {
	opacity: 0;
}
.exit-songs-btn.show, .toggle-btn.show {
	opacity: 1;
}